{% extends 'base.html.twig' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block body %}

<div class="example-wrapper">
    <form action='{{path("app_formulario")}}' method = 'post'>
    <input type="text" name = "nombre">
    <input type="text" name = "email">
    <button>enviar</button>
    </form>

    {% if usuarios is not empty %}
        {% for usuario in usuarios %}
        <h1>{{usuario.nombre}}<h1>
        <h1>{{usuario.email}}<h1>
        {% endfor %}
    {% else %}
        <p>No hay usuarios disponibles.</p>
    {% endif %}
</div>
{% endblock %}
